name: nightly-test

on:
  schedule:
    - cron: "0 18 * * *" # Runs at 6:00 PM UTC every day, which is 2:00 AM Beijing Time the next day

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: install dependency
        run: |
          python -m pip install --upgrade pip wheel setuptools
          pip install .
          pip install pytest onnxruntime

      - name: benchmark test
        run: |
          python tests/test_benchmark.py

  timm-test:
    runs-on: self-hosted
    needs: build

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: install dependency
        run: |
          python -m pip install --upgrade pip wheel setuptools
          pip install .
          pip install pytest pytest-xdist onnxruntime timm torchvision --no-cache-dir --extra-index-url https://download.pytorch.org/whl/cpu

      - name: timm test
        run: |
          python tests/test_onnx_nets.py

  ultralytics-test:
    runs-on: self-hosted
    needs: timm-test

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: install dependency
        run: |
          python -m pip install --upgrade pip wheel setuptools
          pip install .
          pip install pytest pytest-xdist onnxruntime -U ultralytics

      - name: ultralytics test
        run: |
          pytest tests/test_ultralytics.py -v -n 1

  optimum-test:
    runs-on: self-hosted
    needs: ultralytics-test

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: install dependency
        run: |
          python -m pip install --upgrade pip wheel setuptools
          uv sync --dev
          pip install pytest onnx onnxruntime parameterized transformers "optimum[onnxruntime]"

      - name: optimum test
        run: |
          pytest tests/exporters/onnx/test_export_cli.py
